@model ErasmusSDS.Models.Comment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Comment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CommentID)
    @Html.HiddenFor(model => model.AuthorID, new { htmlAttributes = new { @class = "form-control" } })

    <div class="form-group">
        <label class="control-label col-md-2">Would you recommend this course?</label>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownListFor(model => model.Positive,
             new List<SelectListItem> {
                  new SelectListItem { Value = "true" , Text = "Yes" },
                  new SelectListItem { Value = "false" , Text = "No" }               },
             new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Positive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @style = "border: 1px solid #ccc; width:100%;" })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.CourseID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Cancel", "Details", "Courses", new { id = Model.CourseID }, htmlAttributes: new { @class = "btn btn-danger" })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
