@model ErasmusSDS.Models.LA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>LA Details</h2>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.NombreEstudiante)</dt>
        <dd>@Html.DisplayFor(model => model.NombreEstudiante)</dd>

        <dt>@Html.DisplayNameFor(model => model.status)</dt>
        <dd>@Html.DisplayFor(model => model.status)</dd>

        <label class="control-label col-md-2" style="text-align: right; width: 160px; padding: 0">Course List</label>
            @if (Model.CourseList != null && Model.CourseList.Length >= 1)
            {
                <div>
                    @Html.EditorFor(model => model.CourseList, new { htmlAttributes = new { @class = "form-control hidden", @id = "courseIDs" } })
                </div>

                @Html.Partial("~/Views/Shared/_CourseListNoButtons.cshtml")


            }
            else
            {
                <p>No courses available</p>
            }
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LAID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/CourseList")
}


