@model ErasmusSDS.Models.Degree

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <h4>Degree Courses:</h4>
    <ul>
        @foreach (var course in ViewBag.CoursesForDegree)
        {
            <li>
            @course.Name
            @Html.ActionLink("- info    ", "Details", "Courses", new { id = @course.CourseID }, null)
            <!-- Ajusta esta línea con la propiedad que quieres mostrar -->
            </li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DegreeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
