@model ErasmusSDS.Models.Degree

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">Degree Details</h2>
                </div>
                <div class="panel-body">
                    <h3>@Html.DisplayFor(model => model.Name)</h3>
                    <p>@Html.DisplayFor(model => model.Information)</p>
                    <h3>@Html.DisplayFor(model => model.DegreeID)</h3>
                    <hr />

                    <h3>Degree Courses:</h3>
                    <ul class="list-group">
                        @foreach (var course in ViewBag.CoursesForDegree)
                        {
                            <li class="list-group-item">
                                <span>@course.Name</span>
                                @Html.ActionLink("Course Details", "Details", "Courses", new { id = @course.CourseID }, new { @class = "btn btn-info btn-sm pull-right" })
                            </li>
                        }
                    </ul>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.DegreeID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
</div>
