@model ErasmusSDS.Models.Degree

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">Degree Details</h2>
                </div>
                <div class="panel-body">
                    <h3>@Html.DisplayFor(model => model.Name)</h3>
                    <p>@Html.DisplayFor(model => model.Information)</p>
                    <hr />

                    <h3>Degree Courses:</h3>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Create new", "Create", "Courses", new { degree_id = Model.DegreeID }, new { @class = "btn btn-primary", @style="margin-bottom: 5px" })
                    }
                    <div class="panel-footer">
                        <ul class="list-group">
                            @foreach (var course in ViewBag.CoursesForDegree)
                            {
                            <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center">
                                <span>@course.Name</span>
                                <div>
                                    @Html.ActionLink("Course Details", "Details", "Courses", new { id = @course.CourseID }, new { @class = "btn btn-info btn-sm" })
                                    @if (User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink("Edit", "Edit", "Courses", new { id = @course.CourseID }, new { @class = "btn btn-primary btn-sm" })
                                        <span> </span>
                                        @Html.ActionLink("Delete", "Delete", "Courses", new { id = @course.CourseID }, new { @class = "btn btn-danger btn-sm" })
                                    }
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                    <div class="panel-footer">
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.DegreeID }, new { @class = "btn btn-primary" })
                        }
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
        </div>
    </div>
</div>
